<!-- <div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
        <div class="blocks" *ngIf="auth.isAuthenticated()">
          <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
            Add Card
          </button>
        </div>
        <div class="blocks">
          <a button mat-raised-button color="primary" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
            Login to Add a new Card
          </a>
        </div>
      </div>
    </div>

  

    <span>Breakpoint: {{grid.cols}}</span>
    <mat-grid-list #grid rowHeight="2:1">
      
        <ng-container *ngFor="let card of cards">
            <mat-grid-tile>
              <app-card-thumbnail>loading</app-card-thumbnail>
            </mat-grid-tile>
          </ng-container>
      
    </mat-grid-list>


  </div>
</div> -->


<ng-container class="container">
  
 
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>
    <app-card-thumbnail>loading</app-card-thumbnail>

</ng-container>