

.card-header .card-cover {
    float: left;
    width: 120px;
    height: 90px;
}

.card-header .card-description {
    float: left;
    width: calc(100% - 120px);
    background-color: white;
    color: black;
}

.card-header .card-information {
    width: 100%;
    background-color: white;
    border-bottom: gray 1px solid;
    text-align: center;
    color: black;
}

.card-header .card-information .card-title {
    font-size: 30px;
}

.card-header .card-information .card-author {
    font-size: 24px;
    font-style: italic;
    color: black;
}

.card-header .card-information .card-subtitle {
    font-size: 20px;
}

.card-header .card-description .card-title-and-author .card-title-link {
    text-decoration: none;
    font-style: italic
}

.card-body {
    background-color: white;
}

.card-cover-image {
    max-width: 100%;
    max-height: 100%;
}

.card-description-text {
    background: white;
    padding: 3px
}

.card-poster {
    padding: 3px
}
