<div class="card-header">

    <div class="card-information" (click)="toggleView()">
        <span class="card-title">{{card.title}}</span>
        (<a class="card-author" [routerLink]="['/', 'author', card.author.link]">{{card.author.name}}</a>)
        <br>
        <span class="card-subtitle">{{card.subtitle}}</span>
        <div>
            <mat-icon *ngIf="!isCollapsed">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="isCollapsed">arrow_drop_up</mat-icon>
        </div>
    </div>
    <ng-container *ngIf="isCollapsed">
        <div class="card-cover">
            <img  *ngIf="card.cover" src="{{card.cover}}" class="card-cover-image">
            <img *ngIf="!card.cover" src="https://via.placeholder.com/120x90?text=kaplab" class="card-cover-image">
        </div>
        <div class="card-description">
            <div>
                Posted by
                <a class="no-decoration" [routerLink]="['/', 'user', card.poster.link]">
                    {{card.poster.name}}
                </a>
                |
                {{card.date}}
                |
                {{card.type}}
            </div>
            <div class="broken-words card-description-text">
                {{card.description | truncate: [140, '...']}}
            </div>
        </div>
    </ng-container>

</div>
