<div class="card-thumbnail-item" [ngStyle]="backgroundStyle">
    <a class="card-thumbnail-link" [routerLink]="['/', 'card', card.code]">
        <div class="card-thumbnail-title">
            {{ card.title }}
        </div>
        <div class="card-thumbnail-author-name">
            {{ card.author.name }}
        </div>
        <div class="card-thumbnail-poster">
            <img *ngIf="card.poster && card.poster.name; else defaultPoster" src="https://ui-avatars.com/api/?rounded=true&name={{ card.poster.name }}&size=30">
            <ng-template #defaultPoster>
                <mat-icon class="default-user-icon">person</mat-icon>
            </ng-template>            
        </div>
        <div class="card-thumbnail-actions">
            <div class="card-thumbnail-action-favourite">
                <mat-icon aria-label="Add to favorite">favorite</mat-icon>
            </div>            
            <div class="card-thumbnail-action-type">
                <div class="badge">{{card.type}}</div>
            </div>
        </div>
    </a>
</div>


 