<div class="card">
    <div class="card-content">
        <app-card-header [card]="card"></app-card-header>
        <div>&nbsp;</div>
        <div class="card-body">
            <app-card-body-l11 *ngIf="card.template === '11'" [card]="card"></app-card-body-l11>
            <app-card-body-l12 *ngIf="card.template === '12'" [card]="card"></app-card-body-l12>
            <app-card-body-l21 *ngIf="card.template === '21'" [card]="card"></app-card-body-l21>
            <app-card-body-l22 *ngIf="card.template === '22'" [card]="card"></app-card-body-l22>
        </div>
        <div class="acenter">
            <a mat-raised-button *ngIf="hasPrev()" [routerLink]="['/', 'card', getPrev()]">
                <mat-icon aria-label="Got to prev">arrow_backward</mat-icon>
            </a>
            <a mat-raised-button *ngIf="hasParent()" [routerLink]="['/', 'card', getParent()]">
                <mat-icon aria-label="Got to parent">arrow_upward</mat-icon>
            </a>
            <a mat-raised-button *ngIf="hasNext()" [routerLink]="['/', 'card', getNext()]">
                <mat-icon aria-label="Got to next">arrow_forward</mat-icon>
            </a>
        </div>
        <app-card-footer [card]="card"></app-card-footer>
    </div>
    <div class="card-actions">

        <div class="card-icon card-icon-as-button">
            <mat-icon>favorite</mat-icon>
        </div>
        <div class="card-icon card-icon-as-button">
            <mat-icon>add_box</mat-icon>
        </div>

        <mat-divider class="mat-divider"></mat-divider>

        <div>
            <div class="card-icon card-icon-as-button">
                <mat-icon>file_copy</mat-icon>
            </div>
            <div class="card-icon card-icon-as-button">
                <mat-icon>link</mat-icon>
            </div>
        </div>
    </div>
</div>
